<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Science use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Tensor Flow
2. Sci-kit Learn
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Tensor Flow|
|Pandas|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

** Objectives: **
- Python
- R
- Java

<h2>Author</h2>

Chand Saleem